html, body {
	width: 100%;
	min-width: 100%;
}

#bg {
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	overflow: hidden;
}

h3 {
	padding-bottom: 30px;
}

#form {

	text-align: center;
	padding: 50px;
}

#footer {
	color: gray;
	text-align: center;
	margin-left: auto;
	margin: auto;
	padding: 20px;

}

