html, body {
	width: 100%;
	min-width: 100%;
}


.header {
	background-image: url(../images/bg.jpg);
	background-size: cover;
	height: 500px;
	position: relative;

}

#logo {
	width: 500px;
	height: 300px;
	border-style: double;
	border-width: 10px;
	border-color: darkgreen;
	margin-left: 30%;
	margin-right: auto;
	margin-top: 120px;
	background-color: rgba(255, 255, 255, 0.6);
	font-family: 'Pacifico', cursive;
	font-size: 5em;
	text-align: center;
    padding-top: 80px;
    position: absolute;
}

#about {
	padding-top: 60px;
}


article {
	padding: 60px;
	font-size: 20px;
	font-family: 'Istok Web', sans-serif; 
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

.meals {
	padding-left: 60px;
	
	margin-left: auto;
	margin-right: auto;
}

p {
	background-color: rgba(10, 16, 8, 0.4);
	color: white;
	font-size: 2em;
	text-align: center;
	font-family: 'Istok Web', sans-serif;
	width: 100%;
}

#breakfast {
	width: 250px;
	height: 250px;
	float: left;
	margin: 10px;
	background-image: url(../images/breakfast.jpg);
}

#lunch {
	width: 250px;
	height: 250px;
	float: left;
	margin: 10px;
	background-image: url(../images/lunch.jpg);
}

#dinner {
	width: 250px;
	height: 250px;
	float: left;
	margin: 10px;
	background-image: url(../images/dinner.jpg);
}

#supper {
	width: 250px;
	height: 250px;
	float: left;
	margin: 10px;
	background-image: url(../images/supper.jpg);
}

#soup {
	width: 250px;
	height: 250px;
	float: left;
	margin: 10px;
	background-image: url(../images/soup.jpg);
}

#sweets {
	width: 250px;
	height: 250px;
	float: left;
	margin: 10px;
	background-image: url(../images/sweets.jpg);
}


#footer {
	color: gray;
	text-align: center;
	margin-left: auto;
	margin: auto;
	padding: 20px;
}

